.floating-icons {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

/* Card */

.floating-icon {
  position: absolute;

  width: 72px;
  height: 72px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.25),
    inset 0 1px 1px rgba(255, 255, 255, 0.05);
}

.floating-icon i {
  font-size: 2.3rem;
}

/* Position around image */

.react {
  top: 8%;
  right: 35%;
}

.python {
  top: 45%;
  right: 55%;
}

.postgres {
  top: 45%;
  right: 10%;
}

.django {
  bottom: 8%;
  right: 34%;
}

/* Colours */

.react i {
  color: #61dafb;
}

.python i {
  color: #3776ab;
}

.postgres i {
  color: #336791;
}

.django i {
  color: #44b78b;
}

@media (max-width: 992px) {
  .floating-icons {
    display: none;
  }
}
