body {
  background:
    radial-gradient(circle at top right, #2563eb22, transparent 35%),
    radial-gradient(circle at bottom left, #06b6d422, transparent 30%),
    var(--background);
  color: white;
}
section {
  padding: 100px 8%;
}

.container {
  max-width: 1300px;

  margin: auto;
}

.btn {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  padding: 15px 30px;

  border-radius: 50px;

  background: var(--primary);

  color: white;

  text-decoration: none;

  transition: var(--transition);

  cursor: pointer;
}

.btn:hover {
  transform: translateY(-4px);

  box-shadow: var(--shadow);
}
